/* Conteneur principal qui contient la carte et la sidebar */
.map-container {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    height: 100%; /* Assurez-vous que le conteneur prend toute la hauteur de l'écran */
    width: 100%; /* Prend toute la largeur du conteneur parent */
}

/* Sidebar (légende) à gauche */
.sidebar {
    width: 15%; /* 20% de la largeur totale pour la légende ou les filtres */
    padding: 10px;
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    background-color: #f8f9fa; /* Couleur de fond pour démarquer la légende */
    overflow-y: auto; /* Ajout du défilement si le contenu dépasse la hauteur */
}

/* Carte à droite */
.map {
    width: 85%; /* 80% de la largeur totale pour la carte */
    height: 100%; /* Prend toute la hauteur de l'écran */
}

/* Optionnel : rendre la légende plus esthétique */
.sidebar .filter-section {
    margin-bottom: 20px;
}

/* Ajuste les éléments internes de la légende/filtres si nécessaire */
.sidebar .import-button {
    margin-top: 20px;
    width: 100%; /* Assure que le bouton prenne toute la largeur */
}

.small-tooltip {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: grid; /* Utilise grid pour une mise en page plus contrôlée */
    place-items: center; /* Centre le contenu horizontalement et verticalement */
    font-size: 12px;
    overflow: hidden; /* Masque le contenu qui dépasse */
}
