/* Conteneur principal de l'application utilisant CSS Grid */
.app-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 2 colonnes de largeur égale */
    grid-template-rows: 1.5fr 1fr;    /* 2 rangées de hauteur égale */
    height: 100vh; /* Hauteur totale de la vue */
    width: 100vw;  /* Largeur totale de la vue */
    gap: 10px; /* Espace entre les éléments de la grille */
}

/* Conteneur pour la liste des dossiers et fichiers */
.folder-content-container {
    overflow-y: auto; /* Permet de défiler verticalement si nécessaire */
    background-color: #f4f4f4; /* Couleur de fond, ajustez selon vos besoins */
    padding: 10px;
    grid-column: 1 / 2; /* Occupe la première colonne */
    grid-row: 1 / 2;    /* Occupe la première rangée */
}

/* Conteneur pour la carte */
.map-container {
    display: flex;
    justify-content: flex-start; /* Start from the left */
    align-items: stretch; /* Ensure the map stretches to fill the height */
    height: 100%; /* Full height of the container */
    width: 100%;  /* Full width of the container */
    grid-column: 2 / 3; /* Second column */
    grid-row: 1 / 2;    /* First row */
}

.map-container .leaflet-interactive {
    pointer-events: auto; /* Ensure that mouse events are captured */
}

.map-container .mo-layer {
    pointer-events: none; /* Disable mouse events on MO layer when appropriate */
}

/* Style pour la carte elle-même */
.map {
    width: 90%; /* Take 100% width minus a 10px margin to prevent overlap with the scrollbar */
    height: 100%; /* Full height of the container */
    border: 2px solid #ddd; /* Optional border */
    border-radius: 8px; /* Optional border radius */
    margin-right: 10px; /* Add a small right margin to avoid clipping by the scrollbar */
}


/* Conteneur pour une autre section d'informations */
.info-panel-section {
    background-color: #e4e4e4; /* Couleur de fond, ajustez selon vos besoins */
    padding: 10px;
    grid-column: 1 / 2; /* Occupe la première colonne */
    grid-row: 2 / 3;    /* Occupe la deuxième rangée */
}

/* Conteneur pour une autre section d'informations */
.other-section {
    background-color: #d4d4d4; /* Couleur de fond, ajustez selon vos besoins */
    padding: 10px;
    grid-column: 2 / 3; /* Occupe la deuxième colonne */
    grid-row: 2 / 3;    /* Occupe la deuxième rangée */
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.breadcrumb-department {
    cursor: pointer;
    color: #007bff;
}

.breadcrumb-separator {
    margin: 0 5px;
}

.breadcrumb-folder {
    color: #333;
}

